In [ ]:
import pandas as pd

In [ ]:
df=pd.read_csv('/content/All_Comments_Final.csv')
df

,Comments,Comment_ID,Reply_Count,Like_Count,Date,VidId,user_ID
0,Thanks for this video Ken.\n\nI decided to go ...,UgxFZTIzC4UPyhhX_PZ4AaABAg,0,0,2022-01-22T08:13:29Z,xpIFS6jZbe8,user_981
1,Hello ken jee!!! I'm doing a graduation on Com...,Ugx3IYuAufhb932GYQx4AaABAg,0,0,2022-01-22T01:09:46Z,xpIFS6jZbe8,user_213
2,"Thanks for this video, man. So useful. I'll me...",UgyhwwoK24arzRt1mud4AaABAg,0,0,2022-01-21T23:59:05Z,rEWPqw6rMGI,user_1065
3,Great video!!! I started learning Python 8 mon...,UgwrrI7nd3WClsotmHV4AaABAg,0,0,2022-01-21T23:00:37Z,xpIFS6jZbe8,user_3391
4,Been watching hours of your material (and Tina...,UgxlOrHO4MHKSwY9mUN4AaABAg,0,0,2022-01-21T20:24:20Z,sHRq-LshG3U,user_2816
...,...,...,...,...,...,...,...
10235,"Dear Ken,\nMay I know how the input data with ...",UgzX5v48CJAPbvynwTR4AaABAg,1,0,2018-07-06T07:08:39Z,qfRhKHV8-t4,user_5850
10236,What's your prediction Ken for 2018 or at leas...,UgwdI9ydb2nk-FIJ1sN4AaABAg,0,0,2018-05-15T00:01:12Z,qfRhKHV8-t4,user_2676
10237,Nice. I have some nice models for this doing v...,UgyTi5fEIpZBoED9Fc94AaABAg,0,0,2018-05-04T20:58:54Z,qfRhKHV8-t4,user_4533
10238,Great video! Can you please post the github li...,UgyhJTCKn88b0lggR794AaABAg,0,0,2018-02-20T16:46:19Z,qfRhKHV8-t4,user_3368
10239,Hi Ken\n\nI've been researching about this. Wo...,UgzG1dz-KieX_gxjMWd4AaABAg,6,2,2017-12-03T18:52:35Z,qfRhKHV8-t4,user_5345

In [ ]:
#0 for female
#1 for male

import numpy as np
gender=np.random.choice(['Male', 'Female'], size=10240)
country=np.random.choice(['India', 'Malaysia', 'USA'], size=10240)

df['gender']=gender
df['country']=country

In [ ]:
df

,Comments,Comment_ID,Reply_Count,Like_Count,Date,VidId,user_ID,gender,country
0,Thanks for this video Ken.\n\nI decided to go ...,UgxFZTIzC4UPyhhX_PZ4AaABAg,0,0,2022-01-22T08:13:29Z,xpIFS6jZbe8,user_981,Female,Malaysia
1,Hello ken jee!!! I'm doing a graduation on Com...,Ugx3IYuAufhb932GYQx4AaABAg,0,0,2022-01-22T01:09:46Z,xpIFS6jZbe8,user_213,Female,Malaysia
2,"Thanks for this video, man. So useful. I'll me...",UgyhwwoK24arzRt1mud4AaABAg,0,0,2022-01-21T23:59:05Z,rEWPqw6rMGI,user_1065,Female,India
3,Great video!!! I started learning Python 8 mon...,UgwrrI7nd3WClsotmHV4AaABAg,0,0,2022-01-21T23:00:37Z,xpIFS6jZbe8,user_3391,Male,India
4,Been watching hours of your material (and Tina...,UgxlOrHO4MHKSwY9mUN4AaABAg,0,0,2022-01-21T20:24:20Z,sHRq-LshG3U,user_2816,Female,Malaysia
...,...,...,...,...,...,...,...,...,...
10235,"Dear Ken,\nMay I know how the input data with ...",UgzX5v48CJAPbvynwTR4AaABAg,1,0,2018-07-06T07:08:39Z,qfRhKHV8-t4,user_5850,Male,Malaysia
10236,What's your prediction Ken for 2018 or at leas...,UgwdI9ydb2nk-FIJ1sN4AaABAg,0,0,2018-05-15T00:01:12Z,qfRhKHV8-t4,user_2676,Male,Malaysia
10237,Nice. I have some nice models for this doing v...,UgyTi5fEIpZBoED9Fc94AaABAg,0,0,2018-05-04T20:58:54Z,qfRhKHV8-t4,user_4533,Male,India
10238,Great video! Can you please post the github li...,UgyhJTCKn88b0lggR794AaABAg,0,0,2018-02-20T16:46:19Z,qfRhKHV8-t4,user_3368,Male,USA
10239,Hi Ken\n\nI've been researching about this. Wo...,UgzG1dz-KieX_gxjMWd4AaABAg,6,2,2017-12-03T18:52:35Z,qfRhKHV8-t4,user_5345,Male,Malaysia

We are going to check whether the countries and gender are correlated

In [ ]:
df.dropna(inplace=True)

In [ ]:
rows,columns=df.shape

In [ ]:
#counting the males and females in USA, MALAYSIA, SINGAPORE

df[df.country=='India'].groupby('gender')['country'].count()

gender
Female    1731
Male      1710
Name: country, dtype: int64

In [ ]:
df[df.country=='USA'].groupby('gender')['country'].count()

gender
Female    1682
Male      1696
Name: country, dtype: int64

In [ ]:
df[df.country=='Malaysia'].groupby('gender')['country'].count()

gender
Female    1655
Male      1765
Name: country, dtype: int64

In [ ]:
df.groupby(by=['country', 'gender'])['user_ID'].count()

country   gender
India     Female    1731
          Male      1710
Malaysia  Female    1655
          Male      1765
USA       Female    1682
          Male      1696
Name: user_ID, dtype: int64

In [ ]:
#required data #columns==>countries, rows==>gender
#creating the required dataframe
row1=['Female',1731,1655,1682]
row2=['Male',1710,1765,1696]
req_df=pd.DataFrame(columns=['Gender','India', 'Malaysia', 'USA'] )
req_df.loc[0]=row1
req_df.loc[1]=row2

In [ ]:
req_df

   Gender India Malaysia   USA
0  Female  1731     1655  1682
1    Male  1710     1765  1696

In [ ]:
req_df.set_index('Gender')

       India Malaysia   USA
Gender
Female  1731     1655  1682
Male    1710     1765  1696

In [ ]:
required_data=[[1731,1655,1682], [1710,1765,1696]]
required_data

[[1731, 1655, 1682], [1710, 1765, 1696]]

In [ ]:
from scipy.stats import chi2_contingency

chi2 : float
    The test statistic.

p : float
    The p-value of the test

dof : int
    Degrees of freedom
    
expected : ndarray, same shape as observed
    The expected frequencies, based on the marginal sums of the table

In [ ]:
chi2_contingency

In [ ]:
p=chi2_contingency(required_data)[1]
p

0.2607573080061581

In [ ]:
alpha=0.05

In [ ]:
if p>alpha:
  print("fail to reject null hypothesis")
else:
  print("null hypothesis is rejetced")

fail to reject null hypothesis

therefore there is no asscoiation between the countries and genders